[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "adev runserver src --host $APP_HOST --port $APP_PORT"

[packages]
aiohttp = "*"
pdfkit-async = "*"
bs4 = "*"
lxml = "*"
loguru = "*"
aiohttp-devtools = "*"

[dev-packages]
aiohttp-devtools = "*"

[requires]
python_version = "3.9"
